
*{

}

nav div a img{
    width: 130px;
}
.first_section{
    background-image: url(assets/images/f5.jpg);

}










.Banner-trxt{
   
}
.Banner{ color: red; }
.banner1{
    font-size: 25px;
}
.Banner-p{
    font-size: 60px;
    letter-spacing: 6px;
}




















